:root {
  --color-main: #a41623;
  --color-accent: #f85e00;
  --color-subtle: #ffb563;
  --color-light: #ffd29d;
  --color-dark: #918450;

  --container-length: 700px;
}

.spacer {
  font-size: 3rem;
}

.flex {
  display: flex;
}

.columns {
  flex-direction: column;
}

#game-board {
  background-image: url("./assets/sumoRing.jpg");
  background-size: cover;
  width: var(--container-length);
  height: var(--container-length);
  margin-inline: auto;
}

.start-container {
  align-items: center;
  height: 100%;
}
.start-container * {
  flex-basis: 33%;
}

.main-title {
  font-size: 6rem;
}

#game-canvas {
  position: absolute;
}

.text-center {
  text-align: center;
}

.character-screen-div {
  height: 100%;
  align-items: center;
}

.characters {
  display: flex;
  justify-content: space-between;
}

.player-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-radius: 0.7em;
  width: 8em;
  height: 3em;
}

.start-btn {
  font-size: 2rem;
  background-color: var(--color-main);
  color: white;
  box-shadow: 0 0 black, 0.2em 0.2em 0.4em var(--color-dark);
}

.play-button {
  margin: auto;
  font-size: 1.2rem;
}

.home-btn {
  background-color: var(--color-accent);
  color: white;
  position: relative;
  left: 580px;
  top: 650px;
  margin: 0 20px 10px 0;
}

.rematch-btn,
.restart-btn {
  font-size: 1.4rem;
  background-color: var(--color-main);
  color: white;
  box-shadow: 0 0 black, 0.2em 0.2em 0.4em var(--color-dark);
}

.ring-div {
  width: 700px;
  height: 700px;
  position: absolute;
}

.score-div {
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  height: 50px;
  width: 500px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  align-items: center;
  justify-content: center;
}

.score-info {
  margin: 0;
  font-size: 1.8rem;
  flex-grow: 1;
}

.score {
  font-size: 2.5rem;
}

.countdown {
  position: relative;
  font-size: 5rem;
  margin-top: 20%;
}

.winner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.winner-div * {
  flex-basis: 33%;
}

.winner {
  font-size: 4rem;
  margin: 0;
  flex-grow: 1;
}

.winner-div-up {
  justify-content: center;
  align-items: center;
}
.winner-div-bot {
  justify-content: space-evenly;
  align-items: center;
}

.hidden {
  display: none;
}
