#game-board {
  width: 700px;
  height: 700px;
  margin-inline: auto;
  border: 1px solid black;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-canvas {
  position: absolute;
}

.text-center {
  text-align: center;
}

.character-screen-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.characters {
  display: flex;
  justify-content: space-between;
}

.player-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-radius: 0.7em;
  width: 8em;
  height: 3em;
}

.start-btn {
  font-size: 1.5rem;
}

.play-button {
  margin: auto;
  font-size: 1.2rem;
}

.home-btn {
  position: relative;
  left: 580px;
  top: 650px;
  margin: 0 20px 10px 0;
}

.restart-btn {
  font-size: 1.4rem;
  margin-top: 100px;
}

.ring-div {
  background-image: url("/assets/sumoRing.jpg");
  width: 700px;
  height: 700px;
  background-size: cover;
  position: absolute;
}

.score-div {
  display: flex;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  height: 50px;
  width: 500px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  align-items: center;
  justify-content: center;
}

.score-info {
  margin: 0;
  font-size: 1.8rem;
  flex-grow: 1;
}

.score {
  font-size: 2.5rem;
}

.countdown {
  position: relative;
  font-size: 5rem;
  margin-top: 20%;
}

.winner-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner {
  font-size: 4rem;
}

.hidden {
  display: none;
}
