#game-board {
  width: 700px;
  height: 700px;
  margin-inline: auto;
  border: 1px solid black;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-canvas {
  position: fixed;
}

.text-center {
  text-align: center;
}

.character-screen-div {
  display: flex;
  flex-direction: column;
}

.characters {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}

.player-div {
  background-color: red;
  display: flex;
  flex-direction: column;
}
